<!--

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular 8 Example</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="nav-item nav-link" href="#">Home</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">Page 1</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">Page 2</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">Page 3</a>
            </li>
        </ul>
    </div>
</nav>
-->
<!--

<div class="container">
    <div class="col-md-12">
        <h2>Accordion Example</h2>
        
        <accordion>
            <accordion-group heading="Dynamic Body Content">
               
                <p>The body of the accordion group grows to fit the contents</p>
                <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add
                    Item
                </button>
                <div *ngFor="let item of items">{{item}}</div>
                
            </accordion-group>
            <accordion-group heading="Content 2">
                <p>accordion 2</p>
            </accordion-group>
            <accordion-group heading="Content 3">
                <p>accordion 3</p>
            </accordion-group>
        </accordion>

        <br>
        <h2>Tabs Example</h2>
        <div>
            <tabset>
                <tab heading="Tab 1" id="tab1">Basic content for tab 1</tab>
                <tab heading="Tab 2">Basic content for tab 2</tab>
                <tab heading="Tab 3">Basic content for tab 3</tab>
            </tabset>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Dropdown Example</h2>
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                Button dropdown
                <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem">
                    <a class="dropdown-item" href="#">Action</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">Separated link</a>
                </li>
            </ul>
        </div>

        <br>
        <h2>Modal Popup Example</h2>
        <button type="button" class="btn btn-primary" (click)="staticModal.show()">Open Modal Popup</button>

        <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Modal Popup</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        This is static modal popup, backdrop click will not close it. Click
                        <b>&times;</b> to close modal.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
-->
<div class="pdp-wrapper-b4">
    <div class="container">
        <div class="row order-container">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 product-details-1st-section second-col">
                <app-pdp-overview></app-pdp-overview>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 product-details-2nd-section first-col">
                <app-pdp-image></app-pdp-image>
            </div>
        </div>
        <!-- <div class="row long-description">
            <div class="nav-tab-wrapper">
                <app-pdp-long-description></app-pdp-long-description>
            </div>
        </div> -->
        <div class="hr"></div>
    </div>
    <!--Nav Tab development-->
    <app-pdp-sticky-bar></app-pdp-sticky-bar>
</div>
<router-outlet></router-outlet>